<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#ffdc00">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="/images/icon_192x192.png" type="image/x-icon" />

  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="styles.css">

  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

  <title>Tunnel räknaren</title>
</head>

<body>
  <header>
    <div class="pulse-notification" data-pulse-notification></div>
    <h1>Tunnel-räknaren</h1>
  </header>

  <main>
    {{#each users}}
    <div class="user" data-user="{{id}}">
      <h2 class="user__name">{{name}}</h2>

      <div class="user__tunnels">
        <div class="user__tunnels-by">
          <div class="user__tunnels-by-value" data-tunnels-by>{{tunnelsBy}}</div>
          <div class="user__tunnels-by-label">Tunnlat</div>
        </div>

        <div class="user__tunnels-against">
          <div class="user__tunnels-against-value" data-tunnels-against>{{tunnelsAgains}}</div>
          <div class="user__tunnels-against-label">Tunnlad</div>
        </div>
      </div>

      <img class="user__legs" src="/images/legs_{{name}}.png" />
      <img class="user__legs-raised" src="/images/legs_{{name}}--raised.png" />

      <div class="user__ball-container">
        <div class="user__ball-shadow"></div>
        <img class="user__ball" src="/images/ball.png" data-ball />
      </div>


      <div class="score-animation" data-animation-container>

      </div>
    </div>
    {{/each}}

  </main>

  <footer data-time-left></footer>


  <div class="refresh-toast" data-refresh-toast hidden>
    Refresh to see<br>latest version
    <button class="refresh-toast__close" data-close></button>
  </div>


  <div style="display:none" hidden>
    <div data-balloons>
      <svg width="40px" height="90px" viewBox="0 0 200 446">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <path
            d="M100.138,445.64 C95.993,445.64 92.633,442.28 92.633,438.135 C92.633,417.344 84.062,407.396 74.136,395.876 C63.76,383.834 52,370.186 52,343.82 C52,317.454 63.761,303.806 74.136,291.764 C84.061,280.245 92.633,270.296 92.633,249.505 C92.633,245.36 95.993,242 100.138,242 C104.283,242 107.643,245.36 107.643,249.505 C107.643,275.871 95.882,289.52 85.506,301.562 C75.581,313.08 67.01,323.029 67.01,343.82 C67.01,364.611 75.581,374.558 85.506,386.078 C95.883,398.12 107.643,411.769 107.643,438.135 C107.643,442.28 104.283,445.64 100.138,445.64 Z"
            fill="rgba(0, 31, 63, 0.7)"></path>
          <path
            d="M114.382489,241.996 L107.862489,229 L99.4284889,229 L90.9964889,229 L84.4764889,241.996 C82.9974889,244.944 85.1404889,248.417 88.4394889,248.417 L110.421489,248.417 C113.718489,248.417 115.861489,244.944 114.382489,241.996 Z"
            fill="#CE1D4C" data-color></path>
          <ellipse fill="#E84661" cx="99.583" cy="115.974" rx="99.583" ry="115.974" data-color></ellipse>
        </g>
      </svg>


      <svg width="25px" height="100px" viewBox="0 0 130 619">
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <path
            d="M67.138,618.64 C62.993,618.64 59.633,615.28 59.633,611.135 C59.633,590.344 51.062,580.396 41.136,568.876 C30.76,556.834 19,543.186 19,516.82 C19,490.454 30.761,476.806 41.136,464.764 C51.061,453.245 59.633,443.296 59.633,422.505 C59.633,418.36 62.993,415 67.138,415 C71.283,415 74.643,418.36 74.643,422.505 C74.643,448.871 62.882,462.52 52.506,474.562 C42.581,486.08 34.01,496.029 34.01,516.82 C34.01,537.611 42.581,547.558 52.506,559.078 C62.883,571.12 74.643,584.769 74.643,611.135 C74.643,615.28 71.283,618.64 67.138,618.64 Z"
            id="Shape" fill="rgba(0, 31, 63, 0.7)" fill-rule="nonzero"></path>
          <path
            d="M81.3824889,414.996 L74.8624889,402 L66.4284889,402 L57.9964889,402 L51.4764889,414.996 C49.9974889,417.944 52.1404889,421.417 55.4394889,421.417 L77.4214889,421.417 C80.7184889,421.417 82.8614889,417.944 81.3824889,414.996 Z"
            id="Shape" fill="#CE1D4C" fill-rule="nonzero" data=color></path>
          <rect fill="#E84661" x="0" y="0" width="130" height="407" rx="65" data-color></rect>
        </g>
      </svg>
    </div>

    <div data-confetti>
      <svg width="20px" height="20px" viewBox="0 0 222 214">
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="balloons-(1)" transform="translate(-33.000000, -952.000000)" fill="#FFE269" data-color
            fill-rule="nonzero">
            <g id="Group-3" transform="translate(0.000000, 927.000000)">
              <path
                d="M118.321921,28.5891853 L163.750921,79.4751853 C164.881921,80.7421853 166.563921,81.3711853 168.247921,81.1571853 L235.920921,72.5821853 C240.162921,72.0441853 243.179921,76.6051853 241.025921,80.2991853 L206.668921,139.229185 C205.813921,140.696185 205.734921,142.490185 206.458921,144.026185 L235.526921,205.737185 C237.348921,209.605185 233.944921,213.884185 229.765921,212.977185 L163.102921,198.512185 C161.443921,198.152185 159.712921,198.631185 158.475921,199.794185 L108.766921,246.509185 C105.650921,249.437185 100.529921,247.521185 100.100921,243.267185 L93.2579208,175.397185 C93.0879208,173.708185 92.0969208,172.210185 90.6089208,171.393185 L30.8199208,138.553185 C27.0719208,136.494185 27.3119208,131.032185 31.2249208,129.309185 L93.6589208,101.828185 C95.2129208,101.144185 96.3309208,99.7391853 96.6489208,98.0711853 L109.405921,31.0601853 C110.205921,26.8591853 115.474921,25.3991853 118.321921,28.5891853 Z"
                transform="translate(134.942028, 137.388377) rotate(17.000000) translate(-134.942028, -137.388377) ">
              </path>
            </g>
          </g>
        </g>
      </svg>


      <svg width="10px" height="10px" viewBox="0 0 60 60">
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="balloons-(1)" transform="translate(-86.000000, -476.000000)" fill="#00DDC2" data-color
            fill-rule="nonzero">
            <g id="stars" transform="translate(42.000000, 24.000000)">
              <g id="Group" transform="translate(5.000000, 0.000000)">
                <circle id="Oval" cx="69.16" cy="481.941" r="29.382"></circle>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>

  <script>
    window.settings = {
      vapidPublicKey: '{{vapidPublicKey}}'
    }
  </script>

  <script src="/main.js"></script>
</body>

</html>
