<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#ff851b">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="/images/icon_192x192.png" type="image/x-icon" />

  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="styles.css">

  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

  <title>Tunnel räknaren</title>
</head>

<body>
  <header>
    <h1>Tunnel-räknaren</h1>
  </header>

  <main>
    {{#each users}}
    <div class="user" data-user="{{id}}">
      <h2 class="user__name">{{name}}</h2>

      <div class="user__tunnels">
        <div class="user__tunnels-by">
          <div class="user__tunnels-by-value" data-tunnels-by>{{tunnelsBy}}</div>
          <div class="user__tunnels-by-label">Tunnlat</div>
        </div>

        <div class="user__tunnels-against">
          <div class="user__tunnels-against-value" data-tunnels-against>{{tunnelsAgains}}</div>
          <div class="user__tunnels-against-label">Tunnlad</div>
        </div>
      </div>

      <img class="user__legs" src="/images/legs_{{id}}.png" />
      <img class="user__legs-raised" src="/images/legs_{{id}}--raised.png" />

      <div class="user__ball-container">
        <div class="user__ball-shadow"></div>
        <img class="user__ball" src="/images/ball.png" data-ball />
      </div>
    </div>
    {{/each}}

  </main>

  <footer data-time-left></footer>

  <script src="/main.js"></script>
</body>

</html>
